body {
  background-color: rgb(168, 170, 218);
}

#main {
  transform: translateY(5%);
}

.box {
  border-radius: 5px;
}

.box__title {
  background-color: #616daf;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px;
}

.box__title h1 {
  font-size: 20px;
}

.box__text {
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
}

.col-6:nth-child(n + 1) {
  margin-bottom: 10px;
}

.box__title.active + .box__text {
  display: none;
}
